* {
	box-sizing: border-box;
}

#myDiv {
	background-color: #f2f2f262;
	width: 500px;
	margin-left: 10px;
	padding: 10px 20px;
	border-radius: 5px;
}

input[type=text], input[type=password] {
    width: 100%;
	margin: 10px 0;
	padding: 10px 20px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
}

/* input[type=submit], input[type=reset] {
	background-color: #0093bf;
	color: white;
    width: 49%;
    padding: 10px ;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color: #007a9e;
} */
input[type=date] {
    width: 100%;
	margin: 10px 0;
	padding: 10px 20px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
}
select[name=langue] {
    width: 100%;
	margin: 10px 0;
	padding: 10px 20px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
}
h4{
    font-weight: normal;
}

input[type=radio] {
    
	margin-left: 20px ;
	padding: 10px 20px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    margin-bottom: 30px;
}
table{
    
    border-collapse: collapse;
    margin-left: 10px;
    
    
    
    
}
th{
    border: 1px solid black;
    height: 40px;
    width: 120px;
    height: 50px;

    
}
body{
    display: flex;
    flex-direction:row;
    
}
#submit{
    width: 190px;
    height: 40px;
    background-color: rgb(3, 136, 212);
    border: 1px solid black;
    font-size: 17px;
    display: inline;
    color: wheat;
}
#btn{
    width: 53px;
    height: 25px;
    background-color: rgb(26, 116, 168);
    border: 1px solid black;
    font-size: 14px;
    display: inline;
    margin-left: 0.5px;
    color: white;
    transition: color 0.5s;
    transition: background-color 0.6s;
}
#btn:hover{
    color: black;
    background-color: white;
}

   
